[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kaistest
[access "refs/for/refs/*"]
	read = group user/Kaistest
	push = group user/Kaistest
	label-Code-Review = -2..+2 group user/Kaistest
	label-Verified = -1..+1 group user/Kaistest
	rebase = group user/Kaistest
	removeReviewer = group user/Kaistest
	submit = group user/Kaistest
[access "refs/heads/*"]
	read = group user/Kaistest
	create = group user/Kaistest
	push = +force group user/Kaistest
	pushMerge = group user/Kaistest
[access "refs/tags/*"]
	push = group user/Kaistest
	push = +force group user/Kaistest
